{% extends 'layout.html.twig' %}




{% block content %}

<div class="container text-center mt-5">
    <h2>Envolez-vous ou vous le souhaitez</h2>
    <img src="/../assets/images/taxiArrive.jpeg" class="m col-8 mb-5">
    <div class="offset-3 col-6 mb-5">



        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu tincidunt massa, vitae laoreet ligula. Fusce fermentum tristique lectus ac consequat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras eget elit est. Suspendisse et finibus eros. In hac habitasse platea dictumst. Phasellus in tincidunt eros. Donec varius faucibus lectus, quis condimentum arcu viverra maximus. Nunc finibus feugiat quam, at ornare erat aliquet maximus. Vivamus vel urna ornare, interdum est ultricies, aliquet urna. Sed eget lacus ut nisi ultrices malesuada.</p><br>
    </div>
    <h2> Location pour différents type d'événements </h2>
    <img src="/../assets/images/taxiEvent.png" class="m col-8 mb-5">
    <div class="offset-3 col-6 mb-5">

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu tincidunt massa, vitae laoreet ligula. Fusce fermentum tristique lectus ac consequat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras eget elit est. Suspendisse et finibus eros. In hac habitasse platea dictumst. Phasellus in tincidunt eros. Donec varius faucibus lectus, quis condimentum arcu viverra maximus. Nunc finibus feugiat quam, at ornare erat aliquet maximus. Vivamus vel urna ornare, interdum est ultricies, aliquet urna. Sed eget lacus ut nisi ultrices malesuada.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu tincidunt massa, vitae laoreet ligula. Fusce fermentum tristique lectus ac consequat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras eget elit est. Suspendisse et finibus eros. In hac habitasse platea dictumst. Phasellus in tincidunt eros. Donec varius faucibus lectus, quis condimentum arcu viverra maximus. Nunc finibus feugiat quam, at ornare erat aliquet maximus. Vivamus vel urna ornare, interdum est ultricies, aliquet urna. Sed eget lacus ut nisi ultrices malesuada.</p>
    </div>
    <h2> Différents formats disponibles : </h2>
    <img src="/../assets/images/GrandTaxi.jpg" class="m col-8 mb-5">
    <div class="offset-3 col-6 mb-5">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu tincidunt massa, vitae laoreet ligula. Fusce fermentum tristique lectus ac consequat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras eget elit est. Suspendisse et finibus eros. In hac habitasse platea dictumst. Phasellus in tincidunt eros. Donec varius faucibus lectus, quis condimentum arcu viverra maximus. Nunc finibus feugiat quam, at ornare erat aliquet maximus. Vivamus vel urna ornare, interdum est ultricies, aliquet urna. Sed eget lacus ut nisi ultrices malesuada.</p>
    </div>
</div>

{% endblock %}