{% extends 'layout.html.twig' %}




{% block content %}

<div class="container text-center mt-5">
    <h2>Envolez-vous où vous le souhaitez</h2>
    <img src="/../assets/images/taxiArrive.jpeg" class="m col-8 mb-5">
    <div class="offset-3 col-6 mb-5">
        <p class="concept">Qui n'a pas rêvé un jour de pouvoir voler en totale liberté ? Aujourd'hui, c'est possible grâce à Windee ! Première compagnie de drone taxi de Lyon, Windee vous offre la possibilité de vous déplacer simplement et rapidement. Totalement autonome, nos drones taxi sont dépourvus d'instruments de vol. Le client commande sa course via notre site ou via l'application mobile. Une fois à bord, il indique sa destination à l'aide de la tablette tactile qui se trouve devant lui et c'est tout. Le drone décolle vers sa destination, suivi par un centre de contrôle au sol avec lequel il communique par une liaison 4G.</p><br>
    </div>
    <h2> Location pour différents type d'événements </h2>
    <img src="/../assets/images/taxiEvent.png" class="m col-8 mb-5">
    <div class="offset-3 col-6 mb-5">

        <p class="concept">Vous avez un événement particulier à fêter ?</p>
        <p class="concept">Mariage, anniversaire, baptême de l'air, cadeau pour vos clients, vos collaborateurs ou tout simplement vous faire plaisir ! Windee vous propose une offre unique et sur mesure de vous démarquer. Contactez-nous et nous saurons trouver la solution qui vous conviendra le mieux.</p>
    </div>
    <h2> Différents formats disponibles : </h2>
    <img src="/../assets/images/GrandTaxi.jpg" class="m col-8 mb-5">
    <div class="offset-3 col-6 mb-5">

        <p class="concept">Du drone monoplace au drone quatre places, nous avons le véhicule dont vous avez besoin pour vos déplacements.</p>
    </div>
</div>

{% endblock %}