{% block footer %}

    <footer class="page-footer font-small blue py-4 mt-4">

        <!-- Footer Links -->
        <div class="footer-a container text-center text-md-left">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3  mt-md-0 mt-3">
                    <!-- Content -->
                    <h5 >Nous trouver</h5>
                    <br>
                    <p>Conception: 17 rue Delandine 69002 Lyon</p>
                    <p>Bureau : 20 avenue de la Répubique 69002 Lyon</p>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                </div>
                <!-- Grid column -->
                <div class=" col-md-3 mb-md-0 mb-3">
                    <!-- Links -->
                    <h5>Informations</h5>
                    <br>
                    <ul class=" list-unstyled">
                        <li>
                            <a class="text-white" href="/Home/index">Accueil</a>
                        </li>
                        <li>
                            <a class="text-white" href="/Home/booking">Reservation</a>
                        </li>
                        <li>
                            <a class="text-white" href="contact.php">Contact</a>
                        </li>
                        <li>
                            <a class="text-white" href="https://www.wildcodeschool.com/fr-FR">Lien WildCodeSchool</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">
                    <!-- Links -->
                    <h5>Nous suivre</h5>
                    <br>
                    <ul class="footer-social list-unstyled">
                        <li>
                            <a href="#" class=" text-white pt-2 fa fa-facebook fa-2x"></a>
                            <a href="#" class="text-white pt-2 fa fa-twitter fa-2x"></a>

                            <a href="#" class="text-white pt-3 fa fa-instagram fa-2x"></a>
                            <a href="#" class="text-white pt-3 fa fa-pinterest fa-2x"></a>
                        </li>

                    </ul>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </footer>

{% endblock %}