{% extends 'layout.html.twig' %}


{% block content %}


    <div class="container-fluid">


        <div class="row">
            <img class="banniere col-12 mb-5 "
                 src="https://entrackr.com/wp-content/uploads/2017/11/taxi-drone-image-1200x600.jpg">

        </div>


        <div class="row ">

            <iframe class=" col-sm-6 ml-auto mr-auto offset-2 col-md-6 order-md-2 mb-5"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2784.2419639501527!2d4.824980115793922!3d45.74629492259623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ea4ac9e1fd2f%3A0xabc36e768b27c9a0!2sWild%20Code%20School%20-%20Formation%20d%C3%A9veloppeur%20web%20%26%20data%20analyst!5e0!3m2!1sfr!2sfr!4v1571919383091!5m2!1sfr!2sfr" width="600" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

            <form class=" col-sm-8 ml-auto mr-auto offset-2 col-md-4 order-md-1 text-center mb-5">
                <label>Départ</label><br>
                <input class="mb-3" size="30"><br>
                <label>Arrivée</label><br>
                <input size="30"><br>
                <button class="btn btn-primary submit mt-4">Réserver</button>
            </form>


        </div>
    </div>
<div class="mr-2 ml-2">
    <h4 class="text-center mr-2 ml-2 mb-4 ">Ou sélectionnez un de nos trajets pré-définis :</h4>

    <div class="container-fluid">
        <div class="row">
            <div class="imgCorps col-sm-6 col-md-4 text-center mb-4">
                <img src="https://via.placeholder.com/200" class="rounded-circle mb-4">
                <p>Et prima post Osdroenam quam, ut dictum est, ab hac descriptione discrevimus, Commagena, nunc Euphratensis, clementer adsurgit, Hierapoli, vetere Nino et Samosata civitatibus amplis inlustris.</p>

            </div >

            <div class="col-sm-6 col-md-4 imgCorps text-center mb-4" >
                <img src="https://via.placeholder.com/200" class="rounded-circle mb-4">
                <p>Et prima post Osdroenam quam, ut dictum est, ab hac descriptione discrevimus, Commagena, nunc Euphratensis, clementer adsurgit, Hierapoli, vetere Nino et Samosata civitatibus amplis inlustris.</p>

            </div>
            <div class="col-sm-6 col-md-4  text-center   imgCorps mb-4">
                <img src="https://via.placeholder.com/200" class="rounded-circle mb-4">
                <p>Et prima post Osdroenam quam, ut dictum est, ab hac descriptione discrevimus, Commagena, nunc Euphratensis, clementer adsurgit, Hierapoli, vetere Nino et Samosata civitatibus amplis inlustris.</p>


            </div>

        </div>
    </div>
</div>
{% endblock %}
{% use 'Home/footer.html.twig' %}

