{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
    <img class="offset-2 mb-5 col-sm-8" src="https://entrackr.com/wp-content/uploads/2017/11/taxi-drone-image-1200x600.jpg">

</div>





    <div class="row">



    <form class="offset-2 col-4 sm-8">
        <label>Départ</label>
        <input><br>
        <label>Arrivée</label>
        <input><br>
        <button class="submit">Reserver</button>
    </form>


    <iframe class="col-4 sm-8" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.838222243977!2d4.830337708495953!3d45.75438913266809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ebb584463f8b%3A0x13db4575ddf8b1c5!2sMonna%20Lisa!5e0!3m2!1sfr!2sfr!4v1571908788635!5m2!1sfr!2sfr" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

    </div>






{% endblock %}

