<!doctype html>
<link rel="stylesheet" href="/assets/css/style.css">
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} </title>






    {% block stylesheet %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/style.css">

    {% endblock %}


</head>


<body>
{% block nav %}
    <nav class="textenav navbar navbar-dark navbar-expand-lg " style="background: cornflowerblue">

        <img class="logo_drone" src="../assets/images/logo_drone.png">

        <a class="navbar-brand text-white" href="/home/index">Windee</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link text-white" href="/home/index">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/booking/booking">Réservation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/concept/index">Concept</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/history/login">Mes réservations</a>
                </li>

            </ul>
        </div>
    </nav>
{% endblock  %}


{% block content %}
{% endblock %}
{% block footer %}

    <footer class="page-footer font-small blue py-4 mt-4">

        <!-- Footer Links -->
        <div class="footer-a container text-center text-md-left">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3  mt-md-0 mt-3">
                    <!-- Content -->
                    <h5 >Nous trouver</h5>
                    <br>
                    <p>Conception: 17 rue Delandine 69002 Lyon</p>
                    <p>Bureau : 20 avenue de la Répubique 69002 Lyon</p>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                </div>
                <!-- Grid column -->
                <div class=" col-md-3 mb-md-0 mb-3">
                    <!-- Links -->
                    <h5>Informations</h5>
                    <br>
                    <ul class=" list-unstyled">
                        <li>
                            <a class="text-white" href="/Home/index">Accueil</a>
                        </li>
                        <li>
                            <a class="text-white" href="/Booking/booking">Reservation</a>
                        </li>
                        <li>
                            <a class="text-white" href="/Concept/index">Concept</a>
                        </li>
                        <li>
                            <a class="text-white" href="https://www.wildcodeschool.com/fr-FR">Lien WildCodeSchool</a>
                        </li>
                        <li>
                             <a class="text-white" href="/back/login">Admin</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">
                    <!-- Links -->
                    <h5>Nous suivre</h5>
                    <br>
                    <ul class="footer-social list-unstyled">
                        <li>
                            <a href="#" class=" text-white pt-2 fa fa-facebook fa-2x"></a>
                            <a href="#" class="text-white pt-2 fa fa-twitter fa-2x"></a>

                            <a href="#" class="text-white pt-3 fa fa-instagram fa-2x"></a>
                            <a href="#" class="text-white pt-3 fa fa-pinterest fa-2x"></a>
                        </li>

                    </ul>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </footer>

{% endblock %}
{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/236586708f.js"></script>


{% endblock %}
</body>
</html>



