/* css footer */
.page-footer{
    background-color:#6495ed ;
    color: white;
}
.footer-social a{

    margin: 2%;

}
.page-footer a{
    text-decoration: none;
}
.footer-a a:hover{
    color: lightgrey!important;
}
/*css navbar*/
.navbar-nav a:hover{
    color: lightgrey!important;
}
.nav-item{
    text-align: center;
}

.navbar-brand {
    font-size: 24px;
}

.textenav{
    color: white;
}

/* style homepage */

.banniere{
    padding: 0;

}

/*style booking */

h2 {
    text-align: center;
    margin: 50px 0;
}

form {
    width: 80%;
    margin: 30px auto;
}

form button {
    margin: 20px 0;
}

@media screen and (min-width: 768px) {

    form {
        width: 50%;
    }

}



