{% extends 'layout.html.twig' %}

{% block content %}

<div class="final">
    <img class="mb-5" src="/../assets/images/taxiPose.jpg"><br>
    Votre paiement est validé <br>
    Votre numéro de réservation est le : 0909TYH6 <br>
    Nous vous avons envoyé un e-mail avec toutes les informations conernant votre réservation<br>
    Nous vous donnons rendez-vous sur le Windee-Port choisi !
</div>
    
{% endblock %}


