{% extends 'layout.html.twig' %}

{% block title %}{% endblock %}

{% block content %}

    <h2 class="user-login-title">M'identifier</h2>
    <form action="" method="post">
        <div class="form user-login-form">

            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="E-mail" name="email" required>
            </div>

            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="*****" name="password"
                       required>
            </div>
            <div class="user-login-button">
                <button type="submit" class="btn btn-primary">M'identifier!</button>
            </div>
        </div>
    </form>

{% endblock %}
